# macOS
.DS_Store
.AppleDouble
.LSOverride

# ZMK Toolchain
/firmware/zmk_toolchain/

# Build-Artefakte
firmware/build/*.uf2
firmware/build/*.hex
!firmware/build/.gitkeep

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
.cursor/

# KiCad
*.kicad_prl
*-backups/
fp-info-cache
_autosave-*